/* Made with love by Mutiullah Samim*/

html,
body.auth {
  height: 100%;
  font-family: "Numans", sans-serif;
}

.auth {
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  align-content: center;
}

.auth-wrapper {
  height: 100%;
  align-content: center;
}

.auth-wrapper .card {
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.auth-wrapper .social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.auth-wrapper .social_icon span:hover {
  color: white;
  cursor: pointer;
}

.auth-wrapper .card-header h3 {
  color: white;
}

.auth-wrapper .social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.auth-wrapper .input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

.auth-wrapper input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.auth-wrapper .remember {
  color: white;
}

.auth-wrapper .remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.auth-wrapper .login_btn {
  color: black;
  background-color: #FFC312;
}

.auth-wrapper .login_btn:hover {
  color: black;
  background-color: white;
}

.auth-wrapper .links {
  color: white;
}

.auth-wrapper .links a {
  margin-left: 4px;
}

.parsley-error {
  border-color: #ff5d48 !important;
}

.parsley-errors-list.filled {
  display: block;
  width: 100%;
}

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}

.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #ff5d48;
  margin-top: 5px;
}

.form-section {
  padding-left: 15px;
  border-left: 2px solid #FF851B;
  display: none;
}

.form-section.current {
  display: inherit;
}

